@import url(https://fonts.googleapis.com/css?family=Reenie+Beanie);
@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.note {
    width:80vw;
    height: 80vh;
  font-family: 'ImcreSoojin';
    overflow:scroll;

  line-height: 1.4em;
  padding: 2.8em;
  background: #FFFDE7;
  background-image: repeating-linear-gradient(
    180deg,
    transparent 0,
    transparent calc(1.4em - 1px),
    rgba(0,0,255,0.1) calc(1.4em - 1px),
    rgba(0,0,255,0.1) 1.4em
  );
}

p {
  margin: 0 0 1.4em;
  
}
